
.card-Container{
    display:  grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.simple-card{
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 37, 49);
    padding: 1rem;
    border-radius: 5px;
    list-style: none;
}
.text-btn{
    text-decoration: none;
    font-size: 2rem;
    color: white;
}
.categorie, .type{
    color:gray;
}