---
interface Props {
	title: string;
}

const {  title} = Astro.props;
---

<div class="simple">
    <div class="simple-content" >
            {title}

    </div>
</div>

<style>
    .simple{
        border:2px solid white;
        font-size: 1rem;
        width: 20%;
        padding: 1rem;
        border-radius: 1rem;
        position: relative;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: .5rem;
    }
    .simple:hover{
        background-color: rgb(78, 78, 78);
        color: aliceblue;
        cursor: pointer;
    }
    .simple-content{
        position: relative;
    }
</style>