---
import Button from "../components/react/Button";
import MainPresentationComponent from "../components/react/MainChangeComponent";
import PilCategorie from "../components/react/PilCategorie";
import SearchBar from "../components/react/SearchBar";
import uniqueCategories from "../data/Categorie";
import links from "../data/Links.json";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SimpleLinks">
  <main>
    <!-- <div class="search-bar">
      <input class="main-text-bar" type="text" /><button class="search-btn"
        >search</button
      >
    </div> -->

    <!-- <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
    </ul> -->

    <SearchBar client:idle />

    <div class="carrousel">
      {
        uniqueCategories.map((item, index) => (
          <PilCategorie title={item} spaceLeft={index * 150} client:idle />
        ))
      }
    </div>
    <Button client:idle> clean Theme </Button>

    <MainPresentationComponent linksToSend={links} client:idle />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .carrousel {
    overflow-x: auto;
    height: 8rem;
    margin-top: 1rem;
    position: relative;
  }

  .simple-btn {
    padding: 1rem;
    background-color: #484875;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    list-style: none;
  }
  .text-btn {
    color: white;
    text-decoration: none;
  }
  .simple-btn:hover {
    background-color: #392949;
    cursor: pointer;
  }
  .simple-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .categorie,
  .type {
    background-color: #2a2a3d;
    width: 20%;
    border-radius: 10px;
    text-align: left;
    padding-left: 0.5rem;
  }
  .type {
    background-color: #233147;
  }
  .text-btn {
    font-size: 1.9rem;
  }
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-text-bar {
    padding: 0.5rem;
  }
  .search-btn {
    padding: 0.6rem;
    background-color: #233147;
    border: none;
    color: white;
  }
</style>
